.main {
    padding: 14px;
    display: flex;
}

.main__setion__one {
    flex: 1;
}

.center__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center__header__section__one h2 {
    font-family: 'Anek Telugu', sans-serif;
    color: white;
}

.center__header__section__two__input__wrapper {
    display: flex;
    padding: 8px;
    border-radius: 6px;
    background-color: rgb(31, 32, 38);
}

.center__header__section__two__input__wrapper i {
    margin-right: 15px;
    color: white;
}

.center__header__section__two__input__wrapper input {
    background-color: transparent;
    border: none;
    outline-width: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgba(255, 255, 255, 0.894);
}

.right {
    width: 400px;
}

.center__overview {
    margin-top: 10px;
}

.center__overview p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.988);
    font-family: 'Anek Telugu', sans-serif;
}

.center__overview h2 {
    color: rgba(255, 255, 255, 0.9);
}

.center__display{
    min-height: 300px;
    background-color: rgb(31, 32, 38);
    border-radius: 6px;
    padding-bottom: 13px;
}

.center__display__stable {
    padding: 10px;
    padding-bottom: 20px;
}

.center__display__stable__item {
    height: 70px;
    width: 63px;
    border-radius: 5px;
    background-color: rgba(19, 19, 22, 0);
}

.center__display__coin {
    padding: 10px;
}

.center__display hr {
    width: 95%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.153);
    margin-top: 10px;
}

.center__display .uuu {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.621);
    padding-left: 10px;
    margin-bottom: -7px;
    padding: 15px;
}

.center__last__transaction__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    font-family: 'Anek Telugu', sans-serif;
    margin-top: 20px;
}

.center__last__transaction__item__image__wrapper {
    display: flex;
    align-items: center;
}

.center__last__transaction__item {
    display: flex;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.891);
}

.center__last__transaction__item p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.835);
}

.right {
    padding: 15px;
}

.right__header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.right__header__chain button {
    padding: 6px;
    border: 1px solid rgba(255, 255, 255, 0.404);
    background-color: transparent;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.right__header__chain button:hover {
    background-color: rgba(201, 157, 157, 0.062);
}

.right__header__second {
    display: flex;
}
.right__header__profile__item {
    height: 45px;
    width: 45px;
    border-radius: 999px;
    background-color: rgb(31, 32, 38);
    margin-right: 10px;
}

.right__stat__wrapper {
    padding: 1rem;
}

.right__stat {
    min-height: 300px;
    background-color: rgb(31, 32, 38);
    border-radius: 5px;
    padding: 20px;
}

.right__nft__list__wrapper {
    padding: 1rem;
}

.right__nft__list {
    min-height: 400px;
    background-color: rgb(31, 32, 38);
    border-radius: 5px;
    padding: 4px;
}

.right__nft__list__item {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    align-items: center;
}

.right__nft__list__item h5 {
    color: rgba(255, 255, 255, 0.843);
    font-size: 15px;
}

.right__nft__list__item p {
    color: rgba(255, 255, 255, 0.687);
}

.right__header__profile button {
    padding: .4rem .6rem!important;
    border-radius: 5px!important;
    background: linear-gradient(45deg, #09009f, #00ff95)!important;
    width: fit-content!important;
    display: flex!important;
    align-items: center!important;
    margin-bottom: 20px!important;
    font-weight: 400!important;
    cursor: pointer!important;
    color: black!important;
    font-family: 'Montserrat Alternates', sans-serif!important;
}

.ju367vc1 {
    border: none!important;
    color: black!important;
}

.ju367v9p {
    background-color: transparent!important;
}

.center__display__stable {
    display: flex;
    padding: 6px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 20px;
    padding-bottom: 20px;
}

.center__display__stable__item {
    padding: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center__display__stable__item img {
    width: 44px;
    width: 44px;
}

.center__display__stable__item p {
    font-size: 13px;
    color: white;
}

.center__display__stable::-webkit-scrollbar {
    display: none;
}

/* 
  display: grid;
  grid-template-columns: 1fr fit-content(20%);
*/



.center__display__coin {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.center__display__crypto__item {
    height: 70px;
    width: 63px;
    border-radius: 5px;
    background-color: rgba(19, 19, 22, 0);
    padding: 1rem;
}

.center__display__crypto__item {
    padding: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.center__display__crypto__item img {
    width: 44px;
    width: 44px;
}

.center__display__crypto__item p {
    font-size: 13px;
    color: white;
}